    <!DOCTYPE html>
    <html>
    <head>
    <title>HPU Account Management</title>    
    <link href="http://10.1.0.195:3000/account/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://10.1.0.195:3000/account/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script src="http://10.1.0.195:3000/account/js/jquery.js"></script>
     <script src="http://10.1.0.195:3000/account/js/bootstrap.min.js"></script>
    <script src="http://10.1.0.195:3000/account/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>
    	<div class="container">
   <%= yield %>
</div>
    
   
    </body>
    </html>


